---
---

@import "{{ site.theme }}";
h1.project-name {
  background: linear-gradient(to right, #40caca 25%, #be8633 40% , #2583f7 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page-header {
  background-image: url(../images/Microsoft_Logo_Black.jpg);
  background-repeat: no-repeat;
  background-color: black;
  background-size: 20%;
}
#current-week {
  display:none;
  border-style: double;
  text-align: center;
  background: black;
}
a#current-week-text {
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
  background: linear-gradient(to right, #b9ffff 25%, #97adff 40% , #ffffff 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#special-event {
  display:none;
  background: #6e4b88;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 3px;
  text-align: center;
}
a#special-event-text {
}
#next-special-event {
  display:none;
}
a#next-special-event-text {
}
