---
---

@import "{{ site.theme }}";
h1.project-name {
  background: linear-gradient(to right, #40caca 25%, #be8633 40% , #2583f7 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page-header {
  background-image: url(../images/Microsoft_Logo_Black.jpg);
  background-repeat: no-repeat;
  background-color: black;
  background-size: 20%;
}
#current-week {
  display:none; /* remove if wanting to appear on ui*/
  border-style: double;
  text-align: center;
  background: black;
}
#current-week-text {
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
  background: linear-gradient(to right, #b9ffff 25%, #97adff 40% , #ffffff 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#special-event {
  display:block; /* change to block when wanting to appear on ui*/
  padding-top: 2px;
  padding-bottom: 2px;
  background: #6e4b88;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 3px;
  text-align: center;
  color:white;
  font-weight:bold;
  font-size:larger;
}
#next-special-event {
  display:none;
}
a#next-special-event-text {
}
#workshop-week-title {
  background: #131313;    
  text-align: center;
  font-size: x-large;
  color: white;
  border-radius: 8px;
}
#return-button {
    border-style: double;
    border-width: 10px;
    background: #2c9bdc;
    color: white;
    font-style: bold;
    font-size: 15pt;
    padding: 4px 4px 4px 4px;
    border-radius: 3px;
}
#workshop-buttons {
    align-items: right;
    display: inline-block;
    width: 100%;
    align-content: right;
}
#general-gray-button {
  float: right;
  background-color: #484747;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;  
  transition-duration: 0.4s;
}
#general-red-button {
  background-color: #30a08ced;;
  border: none;
  float: right;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}


#general-red-button:hover {
  background-color: orange; /* Green */
  color: white;
}


#general-gray-button:hover {
  background-color: #6197c5; /* Green */
  color: white;
}
